In [30]:
import pandas as pd

In [31]:
df_data_covid = pd.read_csv('Datasets/1/country_wise_latest.csv')

In [33]:
df_indicadores_saude = pd.read_csv('Datasets/1/country_health_indicators_v3.csv')

In [46]:
df_paises = pd.read_csv('Datasets/1/country_profile_variables.csv')

# -------------------------------------------------------------------------------------------------

In [35]:
df_data_covid_0 = df_data_covid.loc[df_data_covid['Country/Region'] == 'Afghanistan']

In [36]:
df_data_covid_0

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.5,69.49,5.04,35526,737,2.07,Eastern Mediterranean

In [39]:
df_data_covid_0 = df_data_covid_0[['Country/Region', 'Confirmed', 'Deaths', 'Recovered']]

In [40]:
df_data_covid_0

  Country/Region  Confirmed  Deaths  Recovered
0    Afghanistan      36263    1269      25198

In [37]:
df_indicadores_saude_0 = df_indicadores_saude.loc[df_indicadores_saude['Country_Region'] == 'Afghanistan']

In [41]:
df_indicadores_saude_0 = df_indicadores_saude_0[['Country_Region', 'Cardiovascular diseases (%)', 'Cancers (%)']]

In [42]:
df_indicadores_saude_0

  Country_Region  Cardiovascular diseases (%)  Cancers (%)
0    Afghanistan                     8.953006     3.372082

In [47]:
df_paises = df_paises.loc[df_paises['country'] == 'Afghanistan']

In [48]:
df_paises = df_paises[['Surface area (km2)', '']]

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99